body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(Lista\ de\ Afazeres.png);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #1c1c1cd3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        background-image: url(download\ \(1\).jpeg); 
        background-size: cover;
        animation: moveBackground 4s ease-in-out infinite; 
        z-index: -1; 
    
}

@keyframes moveBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; } /* Mova para baixo */
    100% { background-position: 0% 0%; } /* Volte para cima */
}

h1 {
    text-align: center;
    color: #0096e1;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #00a7dee9;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #886221;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #dd0808;
}
